:root {
  --foreground-rgb: 1, 1, 1;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #000000;
    
}


.footer{
  width:100%;
  height: 500px;
  position: absolute;
  bottom: auto;
}

.wrapper{
  width: 85%;
  height:100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
}


.bentogrid {
  border: 3px solid rgb(69, 71, 192);
  background-color: rgb(0, 0, 0);
  border-radius: 100px;
  padding: 20px;
}



